.componenteEncabezado{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.buscarFiltrarYFecha{
    margin: 1%;
    display: flex;
}
.input{
    padding: 6%;
    margin: 2%;
    padding-left: 18%;
    border-radius: 5px;
    border: 1px solid #293999;
    background: url("../../utils/img/lupa.svg") 5px no-repeat;
}
.fecha{
    padding: 1.5%;
    margin: 2%;
}
.filtrarUsuario{
    display: flex;
}
.filtrar{
    width: 20%;
    margin-left: 2%;
    cursor: pointer;
}