.totalParteMedio{
    margin-left: 8%;
    width: 79%;
    position: static;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 50px;
    z-index: 2;
    background-color: #FBFBFB;
}
.cuatroContenedores{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dobleContenedor1, .dobleContenedor2{
    display: flex;
    justify-content: space-evenly;
}
.dobleContenedor1, .dobleContenedor2{
    margin-top: 3%;
}